body{
    background: #f8f7f7
}

#banner{
    width:100%;
}

.principal{
    background: #973636;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    tont-size: 20px
}

em strong {
    color: RED;
}

.itens {
    font-style: italic
}

.beneficios{
    background: #e67373;
    padding:;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50;
}